@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

:root {
  --bg-gray: #e8e8e8;
  --text-gray: #4a4a4a;
  --text-ligth-gray: #aaaaaa;
  --color-primary: #4d41c0;
  --white: #fff;
  --star-yellow: #ffbb3a;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  background-color: var(--bg-gray);
}

header {
  background-color: var(--color-primary);
  color: var(--white);
  height: 60px;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  font-size: 24px;
  font-weight: 700;
}

nav a {
  font-size: 12px;
  font-weight: 400;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.ds-contact-container {
  display: flex;
  align-items: center;
}

.ds-contact-container img {
  margin-right: 10px;
}

#ds-card-list {
  padding: 0 10px;
}

.ds-card {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.ds-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.ds-card-description {
  background-color: var(--white);
  padding: 10px 20px 20px 20px;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 190px;
}

.ds-card-description h3 {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.ds-card-description-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ds-card-description-bottom h4 {
  font-size: 16px;
  font-weight: 700;
  color: var(--star-yellow);
}

.ds-card-description-bottom p {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-ligth-gray);
  margin-bottom: 10px;
}

.ds-card-description-bottom img {
  width: 22px;
}

.ds-btn,
.ds-btn:hover {
  width: 180px;
  height: 40px;
  background-color: var(--color-primary);
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.ds-form-container {
  padding: 40px 0;
  max-width: 480px;
}

.ds-form-description {
  background-color: var(--white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 8px 8px;
}

.ds-form-description h3 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 20px;
}

.ds-form {
  width: 100%;
}

.ds-form-group {
  margin-bottom: 20px;
}

.ds-form-group label {
  font-size: 12px;
  color: var(--text-ligth-gray);
}

.ds-form-btn-container {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ds-pagination-container {
  padding: 15px 0;
  display: flex;
  justify-content: center;
}

.ds-pagination-box {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ds-pagination-box p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-primary);
}

.ds-pagination-box button {
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ds-pagination-box button img {
  filter: brightness(0) saturate(100%) invert(27%) sepia(16%) saturate(6966%) hue-rotate(229deg)
    brightness(95%) contrast(98%);
}

.ds-pagination-box button:disabled {
  border: 1px solid var(--text-ligth-gray);
  background-color: var(--white);
}

.ds-pagination-box button:disabled img {
  filter: unset;
}

.ds-flip-horizontal {
  transform: rotate(180deg);
}
